.fallback {
    width: 100%;
    height: 100%;
    background-color: #161616;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;

    z-index: 2000;
    position: fixed;
    inset: 0;
}

.loader {
    width: 2.5rem;
    height: 2.5rem;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

p {
    color: white;
    font-size: 2rem;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 