.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 0.25rem;

    padding: 0.5rem 0.8rem 0.5rem 0.5rem;

    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 12rem;
    height: 4rem;

    background-image: url("/images/game_assets/ui/balance-ui.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    image-rendering: pixelated;

    img {
        height: 100%;
        aspect-ratio: 1 / 1;

        image-rendering: pixelated;

        object-fit: cover;
        object-position: center;
    }

    p {
        font-size: 2rem;
        padding: 0;
        margin: 0;
        color: var(--color);
    }

    @media screen and (max-width: 768px) {
        width: 7rem;
        height: calc(7rem / 3);

        p { font-size: 1.5rem; }
    }
}