.entity {
    margin: 0;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        display: block;

        /* filter: drop-shadow(0 0 20px black); */
    }
}