.tileMap {
    display: grid;
    grid-template-columns: repeat(180, 16px);
    grid-template-rows: repeat(100, 16px);

    width: 2880px;
    height: 1600px;

    image-rendering: pixelated;

    position: absolute;
    left: 50%;
    top: 50%;

    background-color: #237946;
    background-image: url(images/game_assets/ui/map.png);
}