.tileMap {
    --scale: clamp(1.5, calc(7 * (100vw / 1920px)), 5);

    display: grid;
    grid-template-columns: repeat(180, 16px);
    grid-template-rows: repeat(100, 16px);

    width: 2880px;
    height: 1600px;

    image-rendering: pixelated;

    position: absolute;
    left: 50%;
    top: 50%;

    background-color: #237946;
    background-image: url(/images/game_assets/ui/map.png);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}