.display {
    position: absolute;
    top: 2rem;
    left: 2rem;
    
    display: flex;
    flex-direction: row;
    gap: 1rem;

    padding: 0.6rem 1rem;
    background-color: var(--black-background);
    border-radius: 0.5rem;

    p {
        margin: 0;
        font-size: 1.2rem;
    }

    @media screen and (max-width: 768px) {
        padding: 0.5rem;
        gap: 0.5rem;

        top: 1.2rem;
        left: 1.2rem;

        p { font-size: 1rem; }
    }
}