.display {
    position: absolute;
    top: 2rem;
    left: 2rem;
    
    display: flex;
    flex-direction: row;
    gap: 1rem;

    padding: 1rem;
    background-color: #0000008c;
    border-radius: 0.5rem;

    p {
        margin: 0;
        font-size: 1.5rem;
    }
}