.bar {
    display: grid;
    height: 4rem;

    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);

    .slot {
        background-color: #ffe4c4;
        position: relative;
        border: 2px solid #997243;

        img {
            width: 75%;
            height: 75%;
            object-fit: contain;
            object-position: center;
        }

        .badge {
            position: absolute;
            right: 0.3rem;
            bottom: 0.1rem;
        }
    }
}