.bar {
    display: grid;
    height: 4rem;

    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);

    column-gap: 0.5rem;

    .slot {
        background-image: url("/images/game_assets/ui/hud-bg-small.png");
        background-position: center;
        background-size: contain;
        position: relative;
        image-rendering: pixelated;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
            aspect-ratio: 1 / 1;
            object-fit: contain;
            object-position: center;
        }

        .badge {
            position: absolute;
            right: 10%;
            bottom: 25%;
            transform: translateY(50%);
            z-index: 1;
            color: var(--color);

            font-size: 1.2rem;
            text-shadow: 
                1px 1px 0 white,
                -1px 1px 0 white,
                1px -1px 0 white,
                -1px -1px 0 white;
        }

        .tooltip {
            position: absolute;
            left: 50%;
            bottom: calc(100% + 0.5rem);
            transform: translateX(-50%);
            z-index: 1;

            opacity: 0;

            font-size: 1.2rem;
            color: white;
        }
    }

    .slot:hover .tooltip {
        opacity: 1;
    }
}