.page {
    width: 100dvw;
    height: 100dvh;
    background-image: url("/images/game_assets/ui/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.62);
    background-blend-mode: multiply; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

    gap: 5rem;
}

.gameTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
}

.headimage {
    width: 8rem;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}

.startButton {
    aspect-ratio: 4 / 1;
    height: 6rem;
    background-image: url("/images/game_assets/ui/button-border.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    font-size: 3rem;
    color: #ffffff;
    font-family: inherit;

    transition: transform 0.2s;
}

.startButton:hover {
    cursor: pointer;
    transform: scale(1.03);
}

@media screen and (max-width: 852px) {
    .page { gap: 2rem; }

    h1 { font-size: 3rem; }
    .headimage { width: 6rem; }

    .startButton { height: 3.5rem; font-size: 1.2rem; }
}